body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242526;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    background-color:#242526;;
    position: sticky;                      /* #242526; */
    top: 0;
    z-index: 100;
    padding: 5px 5px;
    
}

.left-nav img{
    /* margin-right: 5px; */
    width: 40px;
}

.left-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

} 
.search_box{
    display: flex;
    align-items: center;
    width: 230px;
    background-color: #3a3b3c;
    padding: 10px 12px;
    border-radius: 100px;
}
.search_box input{
    width: 100%;
    background: transparent;
    outline: 0;
    border: 0;
    color: #b1b3b7;
}
.main-nav ul, .right-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;


}
.main-nav li, .right-nav ul li{
    list-style: none;
    padding: 0px 30px;
}
.right-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 9px;
}

.right-nav img{
    border-radius: 100%;
    width: 40px;
}
.online{
    position: relative;
}
.online::after{
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: greenyellow;
    top: 0;
    right: 15px;
    border-radius: 50px;
    border: 3px solid white;

}
/* --------------------------center content------------------------------- */
.container{
    display: flex;
    align-items: start;
    padding: 13px 5%;
    gap: 10px;
    justify-content: space-between;
    border: 1px solid salmon;
    height: 100vh;
}
.leftsidebar, .rightsidebar{
    flex-basis: 25%;
    position: sticky;
    top: 60px;
    align-self: flex-start;
}
.maincontent{
    
    flex-basis: 47%;
    border: 1px solid green;
}
/* --------------------left side bar----------------- */
.leftSidebarLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    
}
.leftSidebarLinks a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding-left: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  
    
}
.leftSidebarLinks a i , .leftSidebarLinks a img{
    margin-right: 10px;
    cursor: pointer;

}
.leftSidebarLinks a img{
    border-radius: 100%;
    position: relative;
    top: 5px;
}
.leftSidebarLinks a:hover{
    background-color: #7d7e80;
    border-radius: 30px;
}
.leftbottom{
    font-size: 11px;
    color: #b1b3b7;
}
/* ---------------------right side bar------------------ */
.rightSideBarAdd1, .rightSideBarAdd2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 10px;
   
}

h4{
    color: white;
}
.rightSideBarAdd1 :nth-child(2), .rightSideBarAdd2 :nth-child(2){
    color: white;
    padding-right: 25px;  
}
/* .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px; 
    width: 100%;
    background-color: #242526;
    

    
    
}

.leftSideBar, .rightSideBar{
    flex-basis: 25%;
    border: 1px solid rgb(8, 235, 235);
    height: 100vh;
    font-size: 15px;
    align-self: flex-start;
   
}
 .leftSideBar{  
    position: sticky;
    top: 53px;
    background-color: bisque;
}

.mainContent{
    border: 1px solid red;
    height: 100vh;
    flex-basis: 47%;
}
.leftSidebarLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    
}
.leftSidebarLinks a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding-left: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  
    
}
.leftSidebarLinks a i , .leftSidebarLinks a img{
    margin-right: 10px;
    cursor: pointer;

}
.leftSidebarLinks a img{
    border-radius: 100%;
    position: relative;
    top: 5px;
}
.leftSidebarLinks a:hover{
    background-color: #7d7e80;
    border-radius: 30px;
}
.leftbottom{
    font-size: 11px;
    color: #b1b3b7;
}

.rightSideBarAdd1, .rightSideBarAdd2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 10px;
   
}

h4{
    color: white;
}
.rightSideBarAdd1 :nth-child(2), .rightSideBarAdd2 :nth-child(2){
    color: white;
    padding-right: 25px;  
} */
